<div class="mx-auto mt-10 max-w-md">
  <label
    for="default-search"
    class="sr-only mb-2 text-sm font-medium text-gray-900 dark:text-white"
    >Search</label
  >
  <div class="relative flex flex-row gap-4">
    <input
      hlmInput
      class="w-100 flex"
      type="search"
      id="default-search"
      placeholder="Either type a search or copy a paper abstract here ..."
      [(ngModel)]="searchTerm"
    />
    <button
      hlmBtn
      type="submit"
      class="flex"
      (click)="startSearch()"
    >
      Search
    </button>
  </div>
</div>

<div class="mx-auto mt-10">
  @if (badRequest) {
    <b> Un-rated search query. </b>
  } @else {
    @if (results.size === 0) {
      <b> No search results. </b>
    } @else {
      <b> {{ results.size }} items found.</b>
    }
  }
</div>
<div class="mx-auto pt-5">
  @if (articles) {
    <div hlmAccordion>
      @for (article of articles | async; track article.id) {
        <div hlmAccordionItem>
          <button hlmAccordionTrigger>
            {{ article.title }}
          </button>
          <hlm-accordion-content>
            <app-paper [article]="article" />
          </hlm-accordion-content>
        </div>
      }
    </div>
  }
</div>
@if (articles) {
  <div class="flex flex-row p-10">
    <button class="align-left flex-1" (click)="previousPage()">
      &lt;&lt; previous
    </button>
    <span class="align-center flex-1 text-center"> Page {{ page + 1 }} </span>
    <button class="align-right flex-1 text-right" (click)="nextPage()">
      next &gt;&gt;
    </button>
  </div>
}
