
<div class="flex items-center justify-center w-full p-4 lg:hidden">
<hlm-carousel class="w-full  max-w-md">
    <hlm-carousel-content>
      <hlm-carousel-item>
        <div hlmCard>
            <div hlmCardHeader>
              <h3 hlmCardTitle>Card Title</h3>
              <p hlmCardDescription>Card Description</p>
            </div>
            <p hlmCardContent>Card Content</p>
            <p hlmCardFooter>Card Footer</p>
          </div>
      </hlm-carousel-item>
      <hlm-carousel-item>
        <div hlmCard>
            <div hlmCardHeader>
              <h3 hlmCardTitle>Card Title</h3>
              <p hlmCardDescription>Card Description</p>
            </div>
            <p hlmCardContent>Card Content</p>
            <p hlmCardFooter>Card Footer</p>
          </div>
      </hlm-carousel-item>
      <hlm-carousel-item>
        <div hlmCard>
            <div hlmCardHeader>
              <h3 hlmCardTitle>Card Title</h3>
              <p hlmCardDescription>Card Description</p>
            </div>
            <p hlmCardContent>Card Content</p>
            <p hlmCardFooter>Card Footer</p>
          </div>
      </hlm-carousel-item>
      <hlm-carousel-item>
        <div hlmCard>
            <div hlmCardHeader>
              <h3 hlmCardTitle>Card Title</h3>
              <p hlmCardDescription>Card Description</p>
            </div>
            <p hlmCardContent>Card Content</p>
            <p hlmCardFooter>Card Footer</p>
          </div>
      </hlm-carousel-item>
      <hlm-carousel-item>
        <div hlmCard>
            <div hlmCardHeader>
              <h3 hlmCardTitle>Card Title</h3>
              <p hlmCardDescription>Card Description</p>
            </div>
            <p hlmCardContent>Card Content</p>
            <p hlmCardFooter>Card Footer</p>
          </div>
      </hlm-carousel-item>
    </hlm-carousel-content>
    <button hlm-carousel-previous></button>
    <button hlm-carousel-next></button>
  </hlm-carousel>
</div>
<div class="hidden flex row w-full gap-4 p-4 lg:flex">
    <div hlmCard class="w-64">
        <div hlmCardHeader>
          <h3 hlmCardTitle>Part 0</h3>
          <p hlmCardDescription>Motivation and Tech Stack</p>
        </div>
        <p hlmCardContent>In the first video, we discuss basic information around this project: What we'll be doing, why and how. For me, it's also an introduction to video making :)</p>
        <p hlmCardFooter>Watch it now!</p>
    </div>
    <div hlmCard class="w-64">
        <div hlmCardHeader>
          <h3 hlmCardTitle>Part 1</h3>
          <p hlmCardDescription>The Algorithm and Getting the Data</p>
        </div>
        <p hlmCardContent>This time, we discuss where we get our data, start working with Rust and discuss some basic principles in working with large datasets.</p>
        <p hlmCardFooter>Watch it now!</p>
    </div>
    <div hlmCard  class="w-64">
        <div hlmCardHeader>
          <h3 hlmCardTitle>Part 2</h3>
          <p hlmCardDescription>Preparing the Data</p>
        </div>
        <p hlmCardContent>Now that we have downloaded all we need, we start processing it and preparing it in a format which we can use for our website.</p>
        <p hlmCardFooter>Watch it now!</p>
    </div>
    <div hlmCard class="w-64">
        <div hlmCardHeader>
          <h3 hlmCardTitle>Part 3</h3>
          <p hlmCardDescription>The Website!</p>
        </div>
        <p hlmCardContent>In this part, we discuss how to visualize the data we have generated as a website and how to provide search functionality.</p>
        <p hlmCardFooter>Watch it now!</p>
    </div>
</div>